.cardcontent {
    border: 2px solid black;
    border-radius: 5px;
    padding-top: 150px;
}

.qcard{
    border: 2px solid black;
    margin: 30px;
    height: 200px;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #F0803C;
  
    
}

.bookmark-icon{
    position: absolute;
    top: -25px;
    right: 0px;
}

.bookmark-select-icon{
    position: absolute;
    left: 0px;
    top: -25px;
}

.bookmark-icon:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.question {
    text-align: center;
    padding: 20px;
    font-family: 'Mouse Memoirs';
    font-size: 22px;
}

.showanswer{
    
    bottom: 50px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    cursor: pointer;
    background-color: aqua;
    
}

.cardtags{
    bottom: 5px;
    left: 5px;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5px;
                
}

.card__tag{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    background-color: #ced4da;
    padding: 3px;
    }
